@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
  background-color: #191226;
}

br {
  line-height: 1.7em;
}

h1 {
  font-size: 3.8em;
  color: #CDE7E4;
  font-weight:500;
}

h2 {
  font-size: 2.6em;
  text-align: center;
}

.header {
  text-align: center;
  margin-top: 50px;
}

.header p {
  font-size: 2.1em;
  color: #CDE7E4;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.main {
  width: 80%;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
  margin-top: 70px;
  padding-bottom: 100px;
}

.section {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  padding-top: 60px;
}

.section p {
  font-size: 1.6em;
  font-weight: 100;
  margin-top: 40px;
}

ul {
  margin-top: 20px;
}

li {
  font-size: 1.6em;
  font-weight: 100;
  line-height: 1.7em;
  color: #02A694;
}
